{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  }
}
